.main-cont{
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    padding: 0;
    background: linear-gradient(180deg, rgb(150, 145, 253), rgb(63, 61, 117),);


    & .title{
        font-size: 40px;
        margin: 0;
        margin-left: 10%;
        color: white;
        font-weight: bold;
    }

    & .add-user-btn{
        margin-top: 5px;
        margin-left: 10%;
    }
}

.users-page{
    min-height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ui.menu .item {
    border-color: black;
    border-width: 5px;
    border-radius: 5px;
    background-color: white;
    color: black;
    cursor: pointer;
    margin: 10px;
    width: 100px;
}

.ui.menu .item.active {
    width: 100px;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    background-color: rgb(218, 218, 218);
    color: black;
    cursor: pointer;
    margin: 10px;
}

.list-users-table{
    margin-top: 2%;
    width: 80%;
}

